*{
    margin: 0;
    padding: 0;
}

 html {
     height: 100%;
 }

 body{
     font-family: sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5, {
     font-size: 100%;
 }
 ul {
     text-decoration: none;
 }
 ul:visited {
     text-decoration: none;
 }